@import '../../styles/variables.less';

.data-table {
  border-collapse:collapse;

  &-row {
    cursor: pointer;

    td {
      padding: 10px 5px;
    }

    &:hover {
      background-color: @hover-color;
    }
  }
}

.empty-message {
  display: flex;
  justify-content: center;
}